<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Pawsome Pets!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="mb-4">Welcome to the Pawsome Pets Forum!</h1>
        <p>Choose your animal!</p>
        <div class="list-group">
            <a href="/dogs" class="list-group-item list-group-item-action">Dogs</a>
            <a href="/cats" class="list-group-item list-group-item-action">Cats</a>
            <a href="/birds" class="list-group-item list-group-item-action">Birds</a>
            <a href="/reptiles" class="list-group-item list-group-item-action">Reptiles</a>
            <a href="/rodents" class="list-group-item list-group-item-action">Rodents</a>
            <a href="/livestock" class="list-group-item list-group-item-action">Livestock</a>
            <a href="/exotics" class="list-group-item list-group-item-action">Exotics</a>
        </div>
    </div>
</body>
</html>
