<!DOCTYPE html>
<html>
<head>
    <title>Subcategories</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">

</head>
<body>
    <div class="container mt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ category.category_name.capitalize() }}</li>
            </ol>
        </nav>
        <h1>Post all about your {{ category.category_name }} in one of our subtopics!</h1>
        {% if subcategories %}
            <ul class="list-group subcategory-list">
                {% for subcategory in subcategories %}
                    <li class="list-group-item subcategory-item"><a href="/{{ category.category_name }}/{{ subcategory.subcat_name }}">{{ subcategory.subcat_name.replace("_", " ").capitalize() }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-muted">No subcategories found for this category.</p>
        {% endif %}
    </div>
</body>
</html>
