<!DOCTYPE html>
<html>
<head>
    <title>Subcategories</title>
</head>
<body>
    <h1>Subcategories for {{ category.category_name }}</h1>
    {% if subcategories %}
        <ul>
            {% for subcategory in subcategories %}
                <ul><a href="/{{ category.category_name }}/{{ subcategory.subcat_name }}">{{ subcategory.subcat_name }}</a></ul>
            {% endfor %}
        </ul>
    {% else %}
        <p>No subcategories found for this category.</p>
    {% endif %}
</body>
</html>
