<!DOCTYPE html>
<html>
<head>
    <title>All Threads for {{ subcategory.subcat_name }}</title>
</head>
<body>
    <h1>All Threads for {{ subcategory.subcat_name }}</h1>
    <p>Category name: {{ category.category_name }}</p>
    <p>Subcategory name: {{ subcategory.subcat_name }}</p>
    
    <div class="threads-list">
        {% if threads %}
            <ul>
                {% for thread in threads %}
                    <li><a href="/{{ category.category_name }}/{{ subcategory.subcat_name }}/{{ thread.id }}">{{ thread.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No threads found in this subcategory.</p>
        {% endif %}
    </div>
    
    <a href="/{{ category.category_name }}/{{ subcategory.subcat_name }}/new_thread">Create New Thread</a>
</body>
</html>
