<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Thread - {{ post.title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container mt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/{{ category }}">{{ category.capitalize() }}</a></li>
                <li class="breadcrumb-item"><a href="/{{ category }}/{{ subcategory }}">{{ subcategory.replace("_", " ").capitalize() }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
            </ol>
        </nav>

        <h1>{{ post.title }}</h1>
        
        <p>{{ post.body }}</p>
        
        <p>Posted by: {{ post.username }}</p>
        
        {% if session.user_id == post.users_id %}
            <a href="{{ url_for('edit_post', category=category, subcategory=subcategory, post_id=post.id) }}" class="btn btn-primary">Edit Post</a>
            <form method="post" action="{{ url_for('delete_post', category=category, subcategory=subcategory, post_id=post.id) }}" class="d-inline">
                <button type="submit" class="btn btn-danger">Delete Post</button>
            </form>
        {% endif %}
        
        <h2>Comments:</h2>
        <ul class="list-group">
            {% for comment in comments %}
                <li class="list-group-item">{{ comment.content }}</li>
            {% endfor %}
        </ul>

        <form method="post" action="/{{category}}/{{subcategory}}/{{post.id}}/new_comment" class="mt-3">
            <label for="content">Comment Body:</label>
            <textarea id="content" name="content" rows="5" cols="40" class="form-control" required></textarea>
            <button type="submit" class="btn btn-primary mt-3">Submit Comment</button>
        </form>
        
        <a href="{{ url_for('view_subcategory', category=category, subcategory=subcategory) }}" class="btn btn-secondary mt-3">Back to Subcategory</a>
        <a href="/logout" class="btn btn-danger mt-3">Log Out</a>
    </div>
</body>
</html>
